<hr style="border: 2px dashed var(--hr-line-color); margin-bottom: 30px; margin-top: 20px;">
<footer class="article-footer">
    {{ partial "article/components/tags" . }}

    {{ if and (.Site.Params.article.license.enabled) (not (eq .Params.license false)) }}
    <section class="article-copyright">
        {{ partial "helper/icon" "copyright" }}
        <span>{{ default .Site.Params.article.license.default .Params.license | markdownify }}</span>
    </section>
    {{ end }}

    {{- if ne .Lastmod .Date -}}
    <section class="article-lastmod">
        {{ partial "helper/icon" "clock" }}
        <span>
            {{ T "article.lastUpdatedOn" }} {{ .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdated "Jan 02, 2006 15:04 MST" ) }}
        </span>
    </section>
    {{- end -}}
</footer>

<hr style="border: 2px dashed var(--hr-line-color); margin-bottom: 30px; margin-top: 20px;">

<footer class="article-footer">
    <section class="navigation">
        {{ if .Prev }}
            <div class="prev">
                <a class="arrow" href="{{ .Prev.Permalink }}">&larr;</a>
                <div class="info">
                    <a class="title" href="{{ .Prev.Permalink }}"> {{ .Prev.Title }}</a>
                    <div class="date">{{ .Prev.Date.Format "2006-01-02" }}</div>
                </div>
            </div>
        {{ end }}
        {{ if .Next }}
            <div class="next">
                <div class="info">
                    <a class="title" href="{{ .Next.Permalink }}"> {{ .Next.Title }}</a>
                    <div class="date">{{ .Next.Date.Format "2006-01-02" }}</div>
                </div>
                <a class="arrow" href="{{ .Next.Permalink }}">&rarr;</a>
            </div>
        {{ end }}
    </section>
</footer>
