<hr style="border: 2px dashed var(--hr-line-color); margin-bottom: 30px; margin-top: 20px;">
<footer class="article-footer">
    {{ partial "article/components/tags" . }}

    {{ if and (.Site.Params.article.license.enabled) (not (eq .Params.license false)) }}
    <section class="article-copyright">
        {{ partial "helper/icon" "copyright" }}
        <span>{{ default .Site.Params.article.license.default .Params.license | markdownify }}</span>
    </section>
    {{ end }}

    {{- if ne .Lastmod .Date -}}
    <section class="article-lastmod">
        {{ partial "helper/icon" "clock" }}
        <span>
            {{ T "article.lastUpdatedOn" }} {{ .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdated "Jan 02, 2006 15:04 MST" ) }}
        </span>
    </section>
    {{- end -}}
</footer>

<hr style="border: 2px dashed var(--hr-line-color); margin-bottom: 30px; margin-top: 20px;">

<footer class="article-footer">
    <section class="navigation">
        {{ if .PrevInSection }}
        <div class="prev">
            <a class="arrow" href="{{ .PrevInSection.Permalink }}">&larr;</a>
            <div class="info">
                <a class="title" href="{{ .PrevInSection.Permalink }}"> {{ .PrevInSection.Title }}</a>
                <div class="date">{{ .PrevInSection.Date.Format "2006-01-02" }}</div>
            </div>
        </div>
        {{ else }}
        <div class="prev">
            <div class="arrow" >&larr;</div>
            <div class="title" > 没有了</div>
        </div>
        {{ end }}

        {{ if .NextInSection }}
        <div class="next">
            <div class="info">
                <a class="title" href="{{ .NextInSection.Permalink }}"> {{ .NextInSection.Title }}</a>
                <div class="date">{{ .NextInSection.Date.Format "2006-01-02" }}</div>
            </div>
            <a class="arrow" href="{{ .NextInSection.Permalink }}">&rarr;</a>
        </div>
        {{ else }}
        <div class="next">
            <div class="title"> 没有了</div>
            <div class="arrow" >&rarr;</div>
        </div>
        {{ end }}
    </section>
</footer>
